.header_logo {
  font-family: "Long Cang", cursive;
  font-size: 25px;
  height: 70%;
  color: #8fa65e;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

#menu {
  height: 15%;
  background-color: rgb(252, 34, 34);
}

.header_menu {
  font-family: "Gowun Dodum", sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30%;
  background-color: rgb(123, 113, 211);
}
